<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.countriesandcitiesdropdown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CountriesandCitiesdropdown">
        <activity android:name=".SHENZHEN"></activity>
        <activity android:name=".SHANGHAI" />
        <activity android:name=".BEIJING" />
        <activity android:name=".GOA" />
        <activity android:name=".MUMBAI" />
        <activity android:name=".NEWDELHI" />
        <activity android:name=".KARACHI" />
        <activity android:name=".LAHORE" />
        <activity android:name=".ISLAMABAD" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>